<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.sellsoftware.software.mapper.SoftwareInfoMapper">
  <resultMap id="BaseResultMap" type="com.tw.sellsoftware.software.domain.SoftwareInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="software_name" jdbcType="VARCHAR" property="softwareName" />
    <result column="software_price" jdbcType="DECIMAL" property="softwarePrice" />
    <result column="software_describe" jdbcType="VARCHAR" property="softwareDescribe" />
  </resultMap>
  <sql id="Base_Column_List">
    id, software_name, software_price, software_describe
  </sql>
  <select id="querySoftwareById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_software_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="querySoftwareInfo" resultMap="BaseResultMap" parameterType="com.tw.sellsoftware.utils.PageInfo">
    select
    <include refid="Base_Column_List" />
    from t_software_info limit #{start},#{pageSize}
  </select>
</mapper>