<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.sellsoftware.order.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.tw.sellsoftware.order.domain.OrderInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="order_price" jdbcType="DECIMAL" property="orderPrice" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <collection property="detailList" ofType="com.tw.sellsoftware.order.domain.OrderDetail" column="id"
                select="com.tw.sellsoftware.order.mapper.OrderDetailMapper.queryOrderDetailByOrderId">
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, order_status, order_price, pay_time, create_time, update_time
  </sql>

  <select id="queryOrderList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_info where user_id = #{userId} limit #{pageInfo.start},#{pageInfo.pageSize}
  </select>

  <insert id="insertOrderInfo" parameterType="com.tw.sellsoftware.order.domain.OrderInfo" useGeneratedKeys="true" keyProperty="id">
    insert into t_order_info (user_id, order_status,
      order_price, pay_time, create_time)
    values (#{userId,jdbcType=INTEGER}, #{orderStatus,jdbcType=VARCHAR},
      #{orderPrice,jdbcType=DECIMAL}, #{payTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>